@import '/src/styles/settings.scss';

.psychology-for-children{
    background-color: rgb(98, 197, 98);
    animation: slide-appear-right-to-left 0.5s ;
}

@keyframes slide-appear-right-to-left {
    0% {
        transform: translateX(500px);
        opacity:0;
    }

    100% {
        transform: translateX(0px);
        opacity:1;
    }
}