@import '/src/styles/settings.scss';

.psychology-for-adults{
    background-color: rgb(214, 210, 210);
    animation: appear 0.5s ;
}

@keyframes appear {
    0% {
        opacity:0;
    }

    100% {
        opacity:1;
    }
}